<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Thanks for placing an order with us!</p>

    <p>Regards</p>
    <p>MyKart</p>
  </body>
</html>
