<body class="home">
    <%= render 'nav' %>

    <div class="container mt-4">

        <h2>Products: </h2>
            <%= link_to "Create Product", new_backend_product_path, :class => "btn btn-primary btn-sm"%>
            <%= link_to "Show Products", backend_products_path, :class => "btn btn-primary btn-sm", :style=>'margin-left: 16px'%>
    </div>

</body>

